<html>

<head>
    <title>NIE CHEMISTRY LAB | HOME</title>
    <link rel="stylesheet" type="text/css" href="../static/home.css">
</head>


<body>

<div class="custom-padding">
        <nav>
            <div class="logo"><img src = "../static/nieLogo.png" width = "45px", height = "30px"></div>
            

            <ul class="menu-area">
                <li><a href= {{ url_for('home') }} >Home</a></li>
                <li><a href= {{ url_for('chemicals') }} >Chemicals</a></li>
                <li><a href="/instruments">Instruments</a></li>
                <li><a href={{ url_for('glassware') }}>Glassware</a></li>
                <li><a href="/suppliers">Suppliers</a></li>
            </ul>
        </nav>
    </div>

    <div id="login-box">
      <!--<img src="../static/nieLogo.png" class="avatar" >-->
      <div class="left-box">

        <h1>NIE Chemistry Lab</h1>
        <p>
          Whatever you want here!!
        </p>
      </div>
    </div>
  </div>

</body>
</html>